/* Mobile Devices */
@media screen and (max-width:576px) {

    .container {
        padding: 0 25px;
    }

    .btn {
        padding: 20px 35px;
    }
    
   /* Nav Section */
    header .container {
        flex-direction: column;
        gap: 30px;
    }

    .nav-menu ul {
        flex-direction: column;
    }

  /* banner section */

    .banner-section .container {
        padding: 0;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        
        padding: 140px 25px;
    }

    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .banner-content h1 span {
        font-size: 90px;
        line-height: 100px;
    }
     
    /* Funny videos Section */

    .section-title h2 {
        line-height: 1;
    }

    .video-container {
        grid-template-columns: 1fr;
    }

    .video-image>img {
        width: 100%;
    }

    .video-card {
        text-align: center;
    }

  /* play instantly section */

    .play-instantly-section .container {
        flex-direction: column;
    }

    .play-instantly-section{
        padding-bottom: 50px;
    }
    .play-instantly-content {
        text-align: center;
        flex-basis: 30%;
    }

    img.big {
        padding-left: 70px;
    }

    img.small {
        position: relative;
        bottom: 120px;
        margin-bottom: -120px;
        left: -8px;
        width: 50%;
    }
    
    /* categories section */

    .categories-section{
        padding: 0;
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
    }
    .item{
        padding: 10px 5px;
        gap: 5px;
        font-size: 10px;
    }
    .item img {
        width: 25px;
    }
    
    /* footer section */

    .footer-menu ul {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    
}

/* Medium Devices */
@media screen and (min-width:577px) and (max-width:992px) {

    .container {
        padding: 0 25px;
    }

  /* nav section */

    header .container {
        flex-direction: column;
        gap: 30px;
    }

    .nav-menu ul {
        flex-direction: column;
    }

   /* banner section */

    .banner-section .container {
        padding: 0;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        padding: 140px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .banner-content h1 span {
        font-size: 90px;
        line-height: 100px;
    }
  
/* funny videos section */

    .section-title h2 {
        line-height: 1;
    }

    .video-container {
        grid-template-columns: repeat(2,1fr);
    }

    .video-image>img {
        width: 100%;
    }

    .video-card {
        text-align: center;
    }

  /* play instantly section */

    .play-instantly-section .container {
        flex-direction: column;
    }

    .play-instantly-section{
        padding-bottom: 0;
    }
    .play-instantly-content {
        text-align: center;
        flex-basis: 30%;
    }

    img.big {
        padding-left: 150px;
    }

    img.small {
        position: relative;
        bottom: 280px;
        margin-bottom: -120px;
        left: -8px;
        width: 50%;
    }

    /* categories */

    .categories-section{
        padding: 50px 0;
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
     
    /* footer section */

    .footer-menu ul {
        gap: 35px;
        flex-wrap: wrap;
        justify-content: center;
    }

    
}