* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 15rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.logo .g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-options ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.menu-options li,
a {
    list-style: none;
    text-decoration: none;
}

.follow-us-nav {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.fa-youtube {
    margin: 0 1rem;
    color: red;
    font-size: 1.5rem;
}

.fa-tiktok {
    font-size: 1.5rem;
}